@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');



.hidden-nav-wrapper{
    display: none;
}


.nav-wrapper{
    display: flex;
}


.top-section{
    
    /* height: 85vh; */
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: space-around; */
    /* position: relative; */
    overflow: hidden;
    
    
}
.firstlook{
    background-image: linear-gradient(76deg, rgba(193, 195, 204, 0.83) 35%, rgba(193, 195, 204, 0.28) 65%), url(https://nuuk-e3eaa.firebaseapp.com/assets/img/slide-2.jpg);
    background-size: cover;
    background-position: 0px 0px, 50% 0%;
    background-attachment: fixed;
    width: 90%;
    position: relative;
    height: 85vh;
    /* display: flex; */
    
    padding-right: 5%;
    padding-left: 5%;
}
.nav-header{
    /* border: 1px solid; */
    /* margin: 0 auto; */
    display: flex;
    /* justify-content; */
    align-items: flex-start;
    position: relative;

    justify-content: center;
}
.navigation-bar{
    width: 100%;
    /* height: 100px; */
    background-color: white;
    /* border: 1px solid; */
    display: flex;
    justify-content: flex-end;
    /* align-items: center; */
    position: relative;
    margin-top: 2%;

}
.nav-line{
    display: none;
}
#nuuk-logo{
    /* border: 1px solid; */
    background-color: #e47312;
    height: 110px;
    padding: 0 35px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    margin: 0%;
    
}
#nuuk-logo img{
    width: 90px;
}
.nav-links,.nav-pages-link > a{
    display: flex;
    /* box-shadow: 0 0 5px; */
    
}
.nav-links a,.nav-pages-link > a{
    /* border: 1px solid; */
    margin: 31px 14px;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 700;
    padding: 3px 0 ;
    text-decoration: none;
    color: black;
}
.nav-pages-link{
    position: relative;
    /* padding: 31px 14px; */
}

.nav-links a:hover ,.nav-pages-link>a:hover,.nav-dropdown a:hover{
    color: #e47312;
}
.fa-caret-down{
    margin-left: 7px;
    padding-top: 5px;
    color: #717177;
    width: 6px;
}
.nav-dropdown{
    position: absolute;
    visibility: hidden;
}
.nav-pages-link:hover .nav-dropdown{
    visibility: visible;

}
.nav-dropdown > a{
    text-decoration: none;
    color: #717177;
    background-color: white;
    font-size: 12px;
    font-weight: 600;
    display: block;
    padding: 10px 20px;
    width: 100%;
}

.nav-getfreequote{
    padding: 34px 28px 31px 28px;
    /* border: 1px solid; */
    background-color: #e47312;
    box-sizing: border-box;
    display: flex;
    margin: 0 0 0 20px;
}
.nav-getfreequote:hover,.article-getfreequote:hover{
    background-color: #e98a38;
}
.nav-getfreequote a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1px;
    /* border: 1px solid; */
    font-weight: 600;
}



  









.firstlook-content{
    height: 60vh;
    /* border: 2px solid; */
    display: flex;
    align-items: center;
}
.first-look-article{
    margin-top: 22px;
    width: 58.3333%;
    /* border: 1px solid; */
    color: #fff;
}
.article-heading h1{
    font-size: 62px;
    line-height: 70px;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0%;
    /* border: 1px solid; */
    
    
}
.first-look-article p{
    margin-top: 10px;
    font-size: 20px;
    line-height: 26px;
    color: hsla(0, 0%, 100%, 0.7);
}
.article-getfreequote{
    margin-top: 30px;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 15px 25px;
    background-color: #e47312;
    width: 110px;
    display: flex;
    justify-content: space-around;
    align-items: center;


}
.socialmedia-linkbar{
    z-index: 1;
    padding: 10px;
    position: absolute;
    bottom: 143px;
    right: 0%;
    background-color: black;
    display: flex;
    flex-direction: column;
    width: 40px;
    align-items: center;
    justify-content: space-around;
}
.socialmedia-linkbar a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.14);
    /* border: 1px solid wheat; */
    height: 50px;
}
.socialmedia-linkbar a:last-of-type{
    border-bottom: 1px solid transparent;
}
.contact-division{
    z-index: 1;
    box-sizing: border-box;
    position: absolute;
    width: 1000px;
    padding: 15px 100px 5px 50px;
    background-color: #e47312;
    background-image: linear-gradient(186deg, #e47312, #ff6361);
    position: absolute;
    left: auto;
    top: auto;
    /* right: 0; */
    right: -2.5%;
    bottom: -83px;
    display: flex;
}
.contact-cards{
    width: 100%;
    padding: 30px 0;
    /* padding-bottom: 30px; */
    display: flex;
    justify-content: space-between;
    /* background-color: black; */
    /* align-items: center; */
    /* box-sizing: border-box; */
    /* justify-content: flex-end; */
}
.contact-cards img{
    width: 24px;
    margin-bottom: 15px;
    /* background-color: aliceblue; */
}
.contact-cards>div{
    /* box-sizing: border-box; */
    width: 100%;
    padding-top: 10px;
    /* background-color: chartreuse; */
    /* border: 1px solid; */
    font-size: 14px;
    text-align: center;
}.contact-cards h1{
    line-height: 20px;
    letter-spacing: 1px;
    font-size: 13px;
    color: #fff;
    margin-top: 0%;
    margin-bottom: 10px;
    font-weight: 600;
}
.contact-cards p{
    font-size: 17px;
    margin-top: 0%;
    color: hsla(0, 0%, 100%, 0.7);
    margin-bottom: 5px;
    line-height: 25px;
}
.contact-card-3 a{
    border-bottom: 2px solid transparent;
    display: inline-block;
    text-decoration: none;
    line-height: 20px;
    letter-spacing: 1px;
    font-size: 13px;
    color: #fff;
    font-weight: 600;
    margin-top: 15px;
    margin-left: 0px;
    padding-top: 0px;
    padding-bottom: 5px;
}
.contact-card-3 a:hover{
    transition: all .2s ease;
    border-bottom: 2px solid white;
}






.about-us{
    padding: 15% 5% 5% 5%;
}
.container-title-wrapper{
    margin-bottom: 7%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.container-title{
    position: relative;
    font-weight: 600;
    z-index: 2;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 1px;
}
.left-title{
    position: absolute;
    left: -53px;
    top: -26px;
    z-index: 1;
    margin-top: 0%;
    margin-bottom: 0%;
    color: rgba(241, 241, 247, .4);
    font-size: 120px;
    letter-spacing: 11px;
    line-height: 50px;
}
.container-title-wrapper a{
    
    font-size: 13px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #919198;
    font-weight: 600;
    margin-top: 0%;
    margin-left: 0px;
    padding-top: 0px;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    transition: all 0.2s ease;

}
.container-title-wrapper a:hover{
    border-bottom: 2px solid #e47312 ;
}






.specialization-container{
    box-sizing: border-box;
}
.specialization-wrapper{
    display: flex;

    margin-left: -10px;
    margin-right: -10px;
}   

.wrapper-cards{
    width: 25%;
    position: relative;
    float: left;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
}
.card-content{
    margin-bottom: 5%;
    padding-right: 5%;
}
.card-content img{
    margin-bottom: 20px;
    /* max-width: 100%; */
    vertical-align: middle;
    display: inline-block;
    width: 60px;
}
.card-content h1{
    margin-top: 0px;
    font-size: 17px;
    line-height: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: 600;
}
.card-content p{
    margin-top: 0%;
    margin-bottom: 10px;
    font-family: Dosis, sans-serif;
    color: #919197;
    font-size: 17px;
    line-height: 25px;
}
.card-content a{
    text-decoration: none;
    color: #919198;
    font-size: 13px;
    letter-spacing: 1px;
    margin-top: 15px;
    margin-left: 0px;
    padding-top: 0px;
    padding-bottom: 5px;
    font-weight: 600;
    display: inline-block;
    border-bottom: 2px solid transparent;
    transition: all 0.2s ease;
}
.card-content a:hover{
    border-bottom: 2px solid #e47312;
}




.who-we-are-info{
    margin-top: 15%;
    box-sizing: border-box;
}
.info-wrapper{
    margin-left: -10px;
    margin-right: -10px;
    display: flex;
    align-items: center;

}
.info-img-wrapper{
    box-sizing: border-box;
    width: 50%;
    position: relative;
    /* float: left; */
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
}
.info-img-wrapper img{
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    width: 750px;
}
.info-content-wrapper{
    width: 50%;
    position: relative;
    /* float: left; */
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
}
.info-content{
    padding-left: 100px;
}
.info-content-title{
    display: flex;
    margin-bottom: 7%;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

.top-info-content-title{
    position: relative;
    z-index: 2;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 1px;
    font-weight: 600;
}
.blur-info-content-title{
    position: absolute;
    left: -53px;
    top: -26px;
    z-index: 1;
    color: rgba(241, 241, 247, 0.4);
    font-size: 120px;
    letter-spacing: 11px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 600;
}
.who-we-are-info p{
    margin-bottom: 10px;
    font-family: Dosis, sans-serif;
    color: #919197;
    font-size: 17px;
    line-height: 25px;
    margin-top: 0;
}
.meet-the-team-link{
    margin-top: 25px;
}
.meet-the-team-link a{
    color: #919198;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
    margin-top: 15px;
    margin-left: 0px;
    padding-top: 0px;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    transition: all 0.2s ease;
}
.meet-the-team-link a:hover{
    border-bottom: 2px solid #e47312;   
}


.more-statics-about-us{
    margin-top: 10%;
}
.stastics-wrapper{
    display: flex;
    margin-left: -10px;
    margin-right: -10px;
}
.stastics{
    width: 25%;
    /* position: relative; */
    float: left;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
}
.facts{
    padding-right: 40%;
}
.facts div{
    margin-bottom: 10px;
    color: #e47312;
    font-size: 60px;
    line-height: 70px;
    font-weight: 500;
}
.facts p{
    margin-bottom: 10px;
    font-family: Dosis, sans-serif;
    color: #919197;
    font-size: 17px;
    line-height: 25px;
    margin-top: 0%;
}


.work-projects{
    padding: 8% 0% 20px 20px;
    background-color: #f7f8fc;
}
.work-projects-title{
    margin-left: auto;
    margin-right: auto;
}
.work-projects-title-wrapper{
    position: relative;
    display: flex;
    margin-bottom: 7%;
    justify-content: space-between;
    align-items: center;
}
.our-works-title{
    /* position: relative; */
    z-index: 2;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 1px;
    font-weight: 600;
}
.blur-project-title{
    position: absolute;
    left: -53px;
    top: -26px;
    z-index: 1;
    color: rgba(241, 241, 247, 0.75);
    font-size: 120px;
    letter-spacing: 11px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 600;
}
.work-projects-title-wrapper a{
    color: #919198;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 1px;
    margin-top: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    transition: all 0.2s ease;

}
.work-projects-title-wrapper a:hover{
    border-bottom: 2px solid #e47312;
}






.view-projects{
    width: 100%;
    /* height: 900px; */
    display: flex;
    /* border: 3px solid; */
    flex-wrap: wrap;
}
.project-wrapper{
    padding-right: 0px;
    padding-left: 0px;
    width: 33.33333%;
    position: relative;
    min-height: 1px;
    transition: all 0.2s ease;
    /* border: 3px solid; */
    /* display: inline-block; */
}
.project-wrapper:hover .space-for-view{
    background-color: rgba(0, 0, 0, 0.3);
}
.project-wrapper:hover .view-project-content{
    visibility: visible;
}
.project-link{
    padding-top: 20px;
    padding-right: 20px;
    max-width: 100%;
    display: inline-block;
    background-color: transparent;
}
.project-content{
    position: relative;
    overflow: hidden;
}
.project-content img{
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}
.space-for-view{
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.view-project-content{
    visibility: hidden;
    display: flex;
    width: 90px;
    height: 90px;
    /* padding: 11px; */
    /* padding-right: 11px;
    padding-left: 11px; */
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-image: linear-gradient(59deg, #ff6361, #e47312);
    color: #fff;
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;

    /* border: 3px solid; */
}






.ending-section-for-works-projects{
    padding: 7% 5%;
    background-color: #e47312;
    background-image: linear-gradient(72deg, #e47312, rgba(255, 99, 97, 0.78)), url(https://nuuk-e3eaa.firebaseapp.com/assets/img/banner-2.jpg);
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
    background-attachment: scroll, fixed;
}
.ending-section-for-works-projects-wrapper{
    margin-left: auto;
    margin-right: auto;
}
.works-projects-section{
    margin-bottom: 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.works-projects-section h1{
    position: relative;
    z-index: 2;
    margin-top: 0px;
    color: #fff;
    margin-bottom: 0px;
    font-size: 42px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: 1px;
}
.works-projects-section p{
    margin-bottom: 5px;
    color: hsla(0, 0%, 100%, 0.7);
    margin-top: 10px;
    font-size: 20px;
    line-height: 26px;
    font-weight: 300;
}
.works-projects-section div{
    margin-top: 25px;
}
.works-projects-section a{
    max-width: 100%;
    display: inline-block;
    color: #fff;
    font-size: 13px;
    letter-spacing: 1px;
    margin-top: 15px;
    margin-left: 0px;
    padding-top: 0px;
    padding-bottom: 5px;
    font-weight: 600;
    text-decoration: none;
    background-color: transparent;
    transition: all 0.2s ease;
    border-bottom: 2px solid transparent;
}
.works-projects-section a:hover{
    border-bottom: 2px solid white;

}








.about-our-team{
    background-color: #f7f8fc;
    padding: 10% 5%;
}
.about-team-wrapper{
    margin-left: auto;
    margin-right: auto;
}
.our-team-mates{
    margin-left: -10px;
    margin-right: -10px;
    display: flex;
}
.team-mates-pic-wrapper{
    width: 25%;
    position: relative;
    /* float: left; */
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
}
.team-mate-detailes{
    position: relative;
    width: 95%;
}
.mate-photo{
    min-height: 300px;
    background-image: url(https://nuuk-e3eaa.firebaseapp.com/assets/img/team-1.jpg);
    background-position: 50% 0%;
    background-size: cover;
    background-repeat: no-repeat;
}
.mate-photo.pic2{
    background-image: url(https://nuuk-e3eaa.firebaseapp.com/assets/img/team-2.jpg);
}
.mate-photo.pic3{
    background-image: url(	https://nuuk-e3eaa.firebaseapp.com/assets/img/team-3.jpg);
}
.mate-photo.pic4{
    background-image: url(	https://nuuk-e3eaa.firebaseapp.com/assets/img/team-4.jpg);
}
.team-content{
    padding: 29px 66px 29px 29px;
    background-color: #fff;
}
.team-content h1{
    line-height: 20px;
    margin-top: 0px;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 10px;

}
.team-content p{
    margin-bottom: 0px;
    color: #bdbdc9;
    font-size: 16px;
    line-height: 25px;
    margin-top: 0;
}
.social-medialinks-vbar{
    position: absolute;
    left: auto;
    top: auto;
    right: 0%;
    bottom: 0%;
    display: flex;
    padding: 10px;
    flex-direction: column;
    background-color: #e47312;
}
.social-medialinks-vbar a{
    display: flex;
    width: 40px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.14);

}
.social-medialinks-vbar a:last-of-type{
    border-bottom: 1px solid transparent;  
}
.social-medialinks-vbar img{
    vertical-align: middle;
    display: inline-block;
}




.out-team-margin-page{
    margin-top: 15%;
}
.margin-page-wrapper{
    margin-left: -10px;
    margin-right: -10px;
    display: flex;
    align-items: center;
}
.margin-page-left{
    width: 41.66666667%;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;

}
.margin-page-left-content{
    padding-right: 100px;
    padding-left: 0px;
}
.margin-page-left-content-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 7%;
}
.margin-page-left-content-main-title{
    /* position: relative; */
    z-index: 2;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 1px;
    font-weight: 600;
}
.margin-page-left-content-blur-title{
    position: absolute;
    left: -53px;
    top: -26px;
    z-index: 1;
    color: rgba(241, 241, 247, 0.75);
    font-size: 120px;
    letter-spacing: 11px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 600;
}
.margin-page-left-content p{
    margin-bottom: 10px;
    font-family: Dosis, sans-serif;
    color: #919197;
    font-size: 17px;
    line-height: 25px;
    margin-top: 0%;
}
.our-service-wrapper{
    margin-top: 25px;
}
.our-service-wrapper a{
    color: #919198;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
    margin-top: 15px;
    margin-left: 0px;
    padding-top: 0px;
    padding-bottom: 5px;
    border-bottom: 2px solid hsla(0, 0%, 100%, 0.3);
    transition: all 0.2s ease;
}
.our-service-wrapper a:hover{
    border-bottom: 2px solid #e47312;
}






.margin-page-right{
    width: 58.33333333%;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}
.margin-page-right div{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    flex-wrap: wrap;
}
.margin-page-right-col1,.margin-page-right-col2{
    padding-left: 0;
    padding-right: 0;
    width: 50%;
    position: relative;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    flex-direction: column;
    
}
.c1r1, .c1r2,.c2r1,.c2r2{
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 50px auto 61px;
    padding: 80px 30px 26px;
    background-color: #fff;
    text-align: center;

}
.c1r2{  margin-bottom: 0%; }
.c2r1{  margin-top: 151px; }
.c2r2{  margin-bottom: 0%; }

.quote-wrapper{
    display: flex;
    width: 60px;
    height: 60px;
    margin: -115px auto 25px;
    position: relative;
    justify-content: center;
    align-items: stretch;
    border-radius: 100%;
    background-image: linear-gradient(8deg, #ff6361, #e47312);
    /* opacity: 1; */
    color: #fff;
    font-size: 80px;
    line-height: 80px;
}
.quote{
    padding-top: 12px;
}
.client-name{
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
}
.client-work{
    margin-bottom: 0px;
    color: #bdbdc9;
    font-size: 16px;
}
.client-p{
    margin-top: 15px;
    margin-bottom: 0px;
    color: #919197;
    font-size: 17px;
    line-height: 25px;
}




.lastet-news-section{
    padding: 10% 5%;
    /* border: 1px solid; */
    /* background-color: black; */
    
}
.lastet-news-section-title{
    /* border: 1px solid; */
    position: relative;
    display: flex;
    margin-bottom: 7%;
    justify-content: space-between;
    align-items: center;
}
.lastet-news-section-main-headding{
    position: relative;
    z-index: 2;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 42px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: 1px;
}
.lastet-news-section-blur-headding{
    position: absolute;
    left: -53px;
    top: -26px;
    z-index: 1;
    color: rgba(241, 241, 247, 0.4);
    font-size: 120px;
    font-weight: 600;
    letter-spacing: 11px;
    line-height: 50px;
    margin: 0%;

}
.blogs-link{
    color: #919198;
    font-size: 13px;
    letter-spacing: 1px;
    text-decoration: none;
    /* border: 1px solid; */
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .2s ease;
}
.blogs-link:hover{
    border-bottom: 2px solid #e47312;
}
.news-wrapper{
    width: 100%;
    display: flex;
    /* border: 1px solid; */
}
.blogpost{
    width: 33.5%;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    
    /* border: 1px solid; */
}
.blogpost-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 25px 56px 25px 30px;
    background-color: #e47312;
    background-image: linear-gradient(158deg, #e47312, #ff6361);

}

.blogpost > div{
    position: relative;
}
.blogpost div:first-of-type{
    display: flex;
    flex-direction: column;
}
.blogpost-date{
    position: absolute;
    top: 0%;
    right: 0%;
}
.blogpost img{
    width: 100%;
}
.date{
    display: flex;
    width: 70px;
    height: 70px;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient(45deg, #ff6361, #e47312);
    color: #fff;
    font-size: 26px;
    font-weight: 400;
}
.month{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    color: #9d9da5;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 2px;
    width: 70px;
    height: 40px;
}
.blogpost-content h1{
    margin-right: 0px;
    margin-top: 0%;
    margin-bottom: 15px;
    font-size: 19px;
    line-height: 26px;
    font-weight: 600;
    color: #fff;
}
.blogpost-content p{
    margin-bottom: 5px;
    color: hsla(0, 0%, 100%, 0.7);
    font-size: 17px;
    line-height: 25px;
    margin-top: 0%;

}
.blogpost-content a{
    position: relative;
    /* margin-top: 15px; */
    margin-left: 0px;
    padding-top: 15px;
    padding-bottom: 5px;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    /* border: 1px solid; */
    border-bottom: 2px solid hsla(0, 0%, 100%, 0.3);
    transition: all 0.2s ease;
}
.blogpost-content a:hover{
    border-bottom: 2px solid white;
}







.logos-wrapper{
    padding: 3% 5%;
    background-image: linear-gradient(56deg, #e47312, #ff6361);
}
.logos-wrapper > div{
    /* border: 1px solid; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 100%;

}
.logos-title{
    color: #fff;
    position: relative;
    z-index: 2;
    margin-top: 0px;
    margin-bottom: 0px;
    cursor: pointer;
    margin-right: 60px;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 1px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
.all-logos{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-direction: column; */
    /* border: 1px solid; */
}




.logo1,.logo2,.logo3,.logo4,.logo5{
    width: 20%;
    min-height: 100px;
    max-width: 100%;
    /* display: inline-block; */
    background-image: url(https://nuuk-e3eaa.firebaseapp.com/assets/img/logo-5w.png);
    background-size: 100px;
    /* background-color: transparent; */
    background-position: 50% 50%;
    background-repeat: no-repeat;

}
.logo1{
    background-image: url(	https://nuuk-e3eaa.firebaseapp.com/assets/img/logo-1w.png);
}
.logo2{
    background-image:url(	https://nuuk-e3eaa.firebaseapp.com/assets/img/logo-2w.png) ;
}
.logo3{
    background-image:url(https://nuuk-e3eaa.firebaseapp.com/assets/img/logo-3w.png) ;
}
.logo4{
    background-image:url(https://nuuk-e3eaa.firebaseapp.com/assets/img/logo-4w.png) ;
}


footer{
    box-sizing: border-box;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 70px;
    padding-right: 50px;
    padding-left: 50px;
    border-top: 1px solid #2f3038;
    background-color: #0a1229;
}
.footer-section1{
    display: flex;
    position: relative;
}
.footer-section1 > div{
    width: 33.33333%;
    padding-left: 10px;
    padding-right: 10px;
    /* border: 1px solid wheat; */
}
.fcol1 > div,.fcol2 > div,.fcol3 .col-head{
    padding-right: 20%;
}
.col-head{
    position: relative;
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
    /* border: 1px solid white; */
}
.col-head h1{
    position: relative;
    /* width: 100%; */
    /* display: flex;
    align-items: center;
    justify-content: flex-start; */
    /* border: 1px solid white; */
    background-color: #0a1229;
    color: #fff;
    font-size: 15px;
    line-height: 20px;

    margin-top: 0px;
    letter-spacing: 1px;
    font-weight: 600;
    
    padding-right: 14px;
    z-index: 2;

}
.hline::after{
    z-index: 1;
    position: absolute;
    top: 8px;
    right: 0%;

    content: '  ';
    width: 90%;
    height: 1px;
    background-color: #ff6361;

}


.fcol1 p{
    margin-bottom: 5px;
    color: #fff;
    font-size: 17px;
    line-height: 25px;
    margin-top: 0;
}

.find-map-link a{
    font-size: 13px;
    letter-spacing: 1px;
    color: #fff;
    margin-top: 15px;
    margin-left: 0px;
    padding-top: 0px;
    padding-bottom: 5px;
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
}
.fcol2 a{
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 13px;
    color:#fff ;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 1px;
    margin-left: 0px;
    padding-top: 0px;
    padding-bottom: 5px;
    display: inline-block;

}
.col3-divs{
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
    padding-top: 0px;
    box-sizing: border-box;


}
.col3-divs img{
    width: 20px;
    margin-right: 15px;
    margin-bottom: 0px;
    display: inline-block;

}
.col3-divs h1{
    margin-top: 0px;
    margin-bottom: 10px;
    color: #fff;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 1px;
    font-weight: 600;
}
.col3-divs p{
    margin-bottom: 5px;
    color: hsla(0, 0%, 100%, 0.7);
    font-size: 17px;
    line-height: 25px;
    margin-top: 0%;
}



.logo-footer{
    /* border: 1px solid white; */
    margin-top: 80px;
}
.logo-footer-wrapper{
    /* border: 1px solid white; */
    margin-left: -10px;
    margin-right: -10px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    
}
.logo-footer a{
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
    height: 110px;
    padding-right: 35px;
    padding-left: 35px;
    background-color: #e47312;

}


body{
    margin: 2%;
    margin-bottom: 0%;
    font-family: 'Dosis', sans-serif;
    line-height: 20px;

  
}


@media screen and (max-width:991px) {

.hidden-nav-wrapper{
    display: block;
}

   
.uline,.dline{
    width: 35px ;
    height: 2px;
    margin: 5px;
    border-radius: 15px;
    background-color: black;
    transition: all .3s ease;
}
.nav-line{
    /* border: 1px solid; */
    box-sizing: border-box;
    padding: 15px;
}
.nav-line:hover {
    transition: all 1s ease;
}

.nav-line:hover .uline{
    margin: 0px;
    transform: rotate(50deg);
    transition: .2s;
}
.nav-line:hover .dline{
    margin: 0px;
    transform: rotate(-50deg);
    transition: .2s;
}
.hidden-nav-wrapper,.hidden-nav-dropdown{
    background-color: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
}
.hidden-nav-wrapper{
    visibility: hidden;
    /* display: none; */
    top: 60px;
    z-index: 2;
}
.navigation-bar:hover .hidden-nav-wrapper{
    visibility: visible;
    transition: .2s;
}
.hidden-nav-links a,.hidden-nav-pages-link a{
    display: block;
    width: 100%;
    text-decoration: none;
    padding: 15px 14px;
    font-size: 12px;
    font-weight: 700;
    color: black;
    letter-spacing: 1px;
}
.hidden-nav-pages-link{
    position: relative;
}
.hidden-nav-dropdown{
    display: none;
    /* visibility: hidden; */
    background-color: #fff;
}
.hidden-nav-pages-link:hover .hidden-nav-dropdown{
    display: block;
    transition: .2s;
}

.hidden-nav-wrapper a:hover{
    color: #e47312;
    transition: .2s;
}

.hidden-nav-getfreequote{
    background-color: #e47312;
    text-align: center;
}
.hidden-nav-getfreequote:hover{
    background-color: #e98a38;
    transition: .2s;
}
.hidden-nav-getfreequote a{
    display: block;
    width: 100%;
    text-decoration: none;
    padding: 15px 14px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 1px;
}



















    body{
        margin-top:0px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
    }
    .firstlook{
        width: 100%;
        padding: 0%;
        height: 800px;
    }
    #nuuk-logo{
        height: 60px;
    }
    .navigation-bar{
        margin: 0%;
        height: 60px;
        width: 100%;
        align-items: center;
    }
    .nav-links,.nav-pages-link,.nav-getfreequote{
        display: none;
    }
    .nav-line{
        cursor: pointer;
        font-size: 30px;
        padding-right: 10px;
        display: block;

    }




    .firstlook-content
    {   width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* border: 5px solid black; */
    }
    .first-look-article{
        margin-top: 0%;
        /* border: 5px solid black; */
        width: 100%;
        height: 450px;
        padding-left: 5%;

    }
    .article-heading h1{
        font-size: 50px;
        line-height: 60px;
    }
    .contact-division{
        right: auto;
        bottom: 0px;
        width: 100%;
        padding-right: 22px;
        padding-left: 0px;

    }
    .socialmedia-linkbar{
        bottom: 227px;
    }




    .info-wrapper{
        flex-direction: column;
    }
    .info-img-wrapper{
        width: 100%;
    }
    .info-img-wrapper img{
        margin-bottom: 84px;
        width: 750px;

    }
    .info-content-wrapper{
        width: 100%;
    }
    .info-content{
        box-sizing: border-box;
        padding: 0 0 0 10px;
    }
    .top-info-content-title{
        font-size: 32px;
    }




    .our-works-title{
        font-size: 32px;
    }
    .blur-project-title{
        left: -7px;
        font-size: 80px;
    }
    .mate-photo{
        min-height: 200px;
    }


    .margin-page-wrapper{
        justify-content: flex-start;
        flex-direction: column;
    }
    .margin-page-left{
        width: 100%;
    }
    .margin-page-left-content-main-title,.lastet-news-section-main-headding{
        font-size: 32px;
    }
    .margin-page-left-content-blur-title,.lastet-news-section-blur-headding{
        font-size: 80px;
        left: -7px;
        top: -26px;
    }



    .margin-page-right{
        width: 100%;
    }



    .logos-wrapper>div{
        flex-direction: column;
    }
    .logos-title{
        padding-left:15%;
        width: 100%;
        text-align: center;
    }
    .all-logos{
        width: 100%;
        display: flex;
        justify-content: space-between;
        
    }
    .all-logos a{
        display: block;
        /* border: 1px solid; */
    }

    


    footer{
        width: 100%;
        padding-right: 25px;
        padding-bottom: 20px;
        padding-left: 25px;
        /* box-sizing: border-box; */
    }

    .logo-footer-wrapper a{
        height: 60px;
    }
    .logo-footer a{
        margin-bottom: 10px;
    }


}



@media screen and (max-width:767px){

    .top-info-content-title{
        font-size: 26px;
        line-height: 50px;
    }
    .blur-info-content-title{
        font-size: 60px;
    }
    .article-heading h1{
        font-size: 40px;
        line-height: 50px;
    }
    .contact-division{
        padding-right:0 ;
    }

    .container-title{
        font-size: 26px;
    }
    .left-title{
        font-size: 60px;
    }


    .specialization-wrapper{
        flex-direction: column;
        /* border: 2px solid; */

    }
    .wrapper-cards{
        width: 100%;
        /* border: 2px solid; */
    }
    .card-content{
        box-sizing: border-box;
        margin-bottom: 40px;
        width: 100%;
        /* border: 2px solid black; */
    }




    .stastics-wrapper{
        flex-direction: column;
    }
    .stastics{
        width: 100%;
        margin-bottom: 26px;
        box-sizing: border-box;
        /* border: 2px solid; */
    }





    .work-projects{
        padding-top: 11%;
        padding-right: 5%;
        padding-left: 5%;
    }
    .our-works-title{
        font-size: 26px;
    }
    .blur-project-title{
        font-size: 60px;
    }    



    .view-projects{
        flex-direction: column;
    }
    .project-wrapper{
        width: 100%;
    }
    .project-link{
        padding-right: 0;
    }



    .works-projects-section h1 {
        font-size: 26px;
        line-height: 30px;
    }

    .our-team-mates{
        flex-direction: column;
    }
    .team-mates-pic-wrapper{
        width: 100%;
        margin-bottom: 30px;
        box-sizing: border-box;
    }
    .mate-photo{
        min-height: 300px;
    }




    .margin-page-wrapper{
        margin-left: 0%;
        margin-right: 0%;
    }
    .margin-page-left-content{
        padding-right: 0%;
        margin-left: auto;
        margin-right: auto;
    }
    .margin-page-left-content-main-title,.lastet-news-section-main-headding{
        font-size: 26px;
    }
    .margin-page-left-content-blur-title,.lastet-news-section-blur-headding{
        font-size: 60px;
    }


    .margin-page-right{
        width: 100%;
    }
    .margin-page-right >div{
        flex-direction: column;
    }
    .margin-page-right-col1,.margin-page-right-col2{
        width: 100%;
        /* border: 2px solid; */
    }
    .news-wrapper{
        flex-direction: column;
    }
    .blogpost{
        margin-bottom: 50px;
    }
    


    .all-logos{
        flex-wrap: wrap;
    }
    .all-logos a{
        width: 33.3333%;
        transition: all 400ms ease;
        text-align: center;
    }



    footer{
        margin-bottom: 0%;
        padding-bottom: 0%;
    }


    .footer-section1{
        flex-direction: column;
    }
    .footer-section1 >div{
        /* border: 2px solid white; */
        width: 100%;
        margin-bottom: 39px;
    }
    .fcol1 >div{
        padding-right: 0%;
    }


    .logo-footer{
        margin-top: 0%;
    }

}




@media screen and (max-width:479px){
    .firstlook{
        height: 500px;
        /* border: 2px solid blue; */
    }
    .contact-division{
        display: none;
    }
    .firstlook-content{
        display: flex;
        height: 87%;
        align-items: center;
        justify-content: space-evenly;
        /* border: 2px solid red; */
    }
    .first-look-article{
        display: block;
        /* border: 2px solid rgb(201, 187, 187); */
        height: auto;
    }
    .socialmedia-linkbar{
        bottom: 0;
    }



    .container-title-wrapper,.work-projects-title-wrapper,.works-projects-section,.lastet-news-section-title{
        flex-direction: column;
        align-items: flex-start;
    }
    .facts{
        padding-right: 0%;
    }


    .left-title,.blur-info-content-title,.blur-project-title,.margin-page-left-content-blur-title,.lastet-news-section-blur-headding{
        display: none;
    }
    .logos-wrapper >div{
        padding-top: 15%;
    }
    .all-logos{
        flex-direction: column;
        align-items: center;
    }
}